# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Python packaging
dist/
build/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
